.DS_Store
.vscode/*

# Compiled binaries
game
*.exe
*.out
*.app

# Object files
*.o
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Build directories
build/
cmake-build-*/
